* {
	box-sizing : border-box;
	-moz-box-sizing : border-box;
	-webkit-box-sizing : border-box;
}
body {
	font-family: Times New Roman,sans-serif;
	font-weight: 300;
	color: #333;
	line-height: 1.254;
	margin: 0;
	padding: 0;
}
#logo {
	text-align: center;
}
#logo #huge {
	font-size: 30px;
	font-weight: bold;
}
#logo img {
	width: 200px;
	height: auto;
	padding-left: 20px;
}
.header {
	text-align: center;
	padding: 20px 10px;
	background-color: #efefef;
	border: 1px solid #e8e8e8;

}
#ds {
	color: #3366ff;
	text-decoration: none;
	font-size: 30px;
	font-style: italic ;
	padding:0 10px;

}
#member ul {
	font-size: 20px;
	font-style: initial;
}
#work #work1 {
	color: #3366ff;
	text-decoration: none;
	font-size: 30px;
	font-style: italic ;
	padding: 0 10px;
}
#work #work2 {
	font-size: 20px;
	font-weight: bold;
	padding: 0 10px;
}

#text {
	text-align: justify;
	padding: 0 10px ;
	font-size: 20px;
}

#text #vecto #vecto1 {
	text-align: center;
	padding-bottom: 10px;
}

#text #doan1 {
	padding-left: 15px;
	padding-right: 15px;
}
#text #doan2 {
	padding-left: 15px;
	padding-right: 15px;
}

#text #yt {
	padding-left: 15px;
	padding-right: 15px;
}
#text #vecto #yt1 {
	padding-left: 15px;
	padding-right: 15px;
}
#text #problem {
	padding-left: 15px;
	padding-right: 15px;
}
#footer {
	font-size: 15px;
	border-top: 1px solid #e6e6e6;
	color: #838383;
	padding: 10px 25px;
}
#text #problem #elbow {
	font-weight: bold;
}
#text #problem #bi {
	font-size: 28px;
	font-weight: 30;
}
#text #problem .img1 {
	text-align: center;
}
